.venv/
venv/
__pycache__/
*.pyc
.git/
.gitignore
.gitattributes
.pytest_cache/
.coverage
htmlcov/
.DS_Store
Thumbs.db
mlruns/
mlartifacts/
reports/
models/*.joblib
.devcontainer/
.vscode/
.idea/
*.md
